/* ALTITUDE LABS
 * ========
 * =Icons
 * =General
 * =Nav
 * =Forms
 * =Sections
 * =Splash
 * =Product
 * =Customers
 * =Services
 * =Team
 * =Contact
 * =Careers
 * =Footer
 * =Responsive
 */

/* =Icons
 * ------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'ecoicon';
  src:url('fonts/ecoicons/ecoicon.eot');
  src:url('fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
  url('fonts/ecoicons/ecoicon.woff') format('woff'),
  url('fonts/ecoicons/ecoicon.ttf') format('truetype'),
  url('fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* =General
 * ------------------------------------------------------------------------------------*/

html, body { padding:0; margin:0; font-size:10px; }

body {
  font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:300;
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
}
  h1 { font-size:9.4em; margin-top:0; margin-bottom:0.5em; }
  h2 { font-size:5.4em; margin-top:0; margin-bottom:0.7em; }
  h3 { font-size:4.7em; margin-top:0; margin-bottom:0.7em; }
  h4 { font-size:3.5em; margin-top:0; margin-bottom:0.8em; }
  h5 { font-size:2.7em; margin-top:0; margin-bottom:0; }
  h6 { font-size:2.2em; margin-top:0; margin-bottom:0; }

  .header {
    padding:0;
    margin-bottom:90px;
    text-align: center;
	
  }
  .header h1, .header h2 { padding:0; margin:0; line-height:0.92; }

.section-title {
  font-weight: 700;

  font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
  font-size: 12em;
  margin-top: 0;
  margin-bottom: 0.05em;
}

.vision-title {
  font-weight: 700;
  font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
  font-size: 12em;
  margin-top: 0;
  margin-bottom: 0.05em;
  color: #FFF;
}
.dummy-title{
	color: #FCB713;
}

.dummy-title2{
	color: #EBEBEB;
}


.page-title {
  position: absolute;
  color: transparent;
  font-size: 1em;
}

p { font-size:2.5em; line-height:1.3em; margin:0 0 1em; font-weight:400; 
	align: left;
	line-height: 150%;
	text-align: justify;
	text-justify:inter-ideograph;
}

a,
a:focus,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.textaligncenter { text-align:center; }
.textalignright { text-align:right; }

hr {
  border: none;
  height: 1px;
  color: rgb(230,230,230);
  background-color: rgb(230,230,230);
}
hr.padded { margin-bottom: 50px; }
.text-center { text-align: center; }
.text-left { text-align: left; 
	line-height: 150%;
	text-align: justify;
	text-justify:inter-ideograph;
}
.accent-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid #000;
  font-size: 2em;
  line-height: 1.4em;
  color: #000;
  padding: 15px 10px;
  margin-bottom: 2em !important;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.accent-box a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
}
.accent-box:hover {
  background: #FCB713;
  color: #000;
}
.accent-box:hover a {
  color: #000;
  border-bottom: 1px dotted #fff;
}
.accent-box a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 2px dotted #fff;
}
.accent-box .icon {
  padding-bottom: 10px;
}
.accent-box-primary {
  background-color: #FCB713;
  border: 3px solid #000;
  color: #000;
  font-size: 24px;
  margin-top: 2em;
  padding-top: 30px;
  padding-bottom: 30px;
}
blockquote {
  font-size: 22px !important;
  font-style: italic;
  line-height: 30px;
  padding: 0px 0 0 30px;
  margin: 0 0 40px;
  border-left: 10px solid #ccc;
}
blockquote:before {
  color: #ccc;
  font-family: Georgia, serif;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: -0.1em;
  margin-right: 0.15em;
  vertical-align: -0.5em;
}
blockquote p {
  display: inline;
}
blockquote p.byline {
  display: block;
  font-style: normal;
  text-align: right;
  margin: 10px 0px;
}
.tag-container {
  margin-bottom: 30px;
}
.tag {
  background: #999;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
}

/* =Nav
 * ------------------------------------------------------------------------------------*/
#mobile-nav-container { display:none; position:fixed; top:0px; left:0px; right:0px; z-index:1200; }
  #mobile-nav-icon { font-size: 24px; padding:5px 10px; display:none; }
  #mobile-nav-icon i { cursor:pointer; }
  #mobile-nav { display:block; font-size:16px; padding:5px; display:none; }
  #mobile-nav ul { list-style:none; padding:0; margin:0; display:none; }
  #mobile-nav li { padding:10px; }
  #mobile-nav li a { display:block; text-decoration:none; }

#float-nav {
  margin-top:-80px;
  width:100%;
  position:fixed;
  top:0px;
  height: 64px;
  z-index:1000;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: margin-top 300ms ease, visibility 0s 100ms, opacity 100ms linear; -moz-transition: margin-top 300ms ease, visibility 0s 100ms, opacity 100ms linear;
  -ms-transition: margin-top 300ms ease, visibility 0s 100ms, opacity 100ms linear; -o-transition: margin-top 300ms ease, visibility 0s 100ms, opacity 100ms linear;
  transition: margin-top 300ms ease, visibility 0s 100ms, opacity 100ms linear;
}

  #float-nav .go-to-top {
    background-color:;
    background-image:url(../img/top-arrow-dark.png);
    background-position: center center;
    background-repeat:no-repeat;
  }

  #float-nav > div, #float-nav > div > div { position:relative; height:60px; }
  #float-nav .logo {position: absolute;
    left: 50px; }
  #float-nav .logo img { height:45px; width:auto; margin-top:10px;}
  #float-nav ul {
    font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    list-style:none;
    right:-700px;
    position:relative;
    height:100%;
    display:table;
  }
  #float-nav ul li {
    cursor:pointer;
    display:inline-block;
    display:table-cell;
    text-align:right;
    vertical-align:middle;
  }
  #float-nav ul li a {
    color:#ffffff;
    line-height: 2em;
    font-size:3.2em;
    text-decoration:none;
    padding:0px 15px;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -ms-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
    transition: color 100ms ease-out;
  }
  #float-nav ul li:hover a { color:#FCB713; }
  #float-nav ul li.active { background-color: #505050; }
  #float-nav ul li.active a:hover { color: #fff; }
  #float-nav ul li a:hover { color:#FCB713; }
    #float-nav .go-to-top {
      position:fixed;
      height:50px;
      width:50px;
      bottom: 10px;
      right: 10px;
      margin-left:30px;
      cursor:pointer;
      -webkit-transition: background-color 300ms ease, height 300ms ease;
      -moz-transition: background-color 300ms ease, height 300ms ease;
      -ms-transition: background-color 300ms ease, height 300ms ease;
      -o-transition: background-color 300ms ease, height 300ms ease;
      transition: background-color 300ms ease, height 300ms ease;
    }
  #float-nav .go-to-top:hover {
    background-color:#ddb410;
  }

#top-nav {
  width:100%;
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
  position:relative;
}
#top-nav > div {
  height:100%;
}
#top-nav ul {
    font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
	right:-700px;
    margin:0;
    list-style:none;
    position:relative;
    height:100%;
    display:table;
  }
  #top-nav ul li {
    display:inline-block;
    display:table-cell;
    text-align:left;
    vertical-align:middle;
  }
  #top-nav ul li a {
    color:#ffffff;
    line-height: 2em;
    font-size:3.2em;
    text-decoration:none;
    padding:0px 15px;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -ms-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
    transition: color 100ms ease-out;
  }
#top-nav .logo { position: absolute;
    left: 50px;}
#top-nav .logo img { height:45px; width:auto; margin-top:10px; }

#mobile-nav-icon {
  color: #FFF;
  float: right;
}
#mobile-nav {
  background: rgba(31, 31, 31, 0.9);
}
#mobile-nav .logo { position: absolute;
    left: 10px;}
#mobile-nav li a {
  color:#fff
}

#mobile-nav img {
  margin-top: 2px;
  height: 35px;
}

#top-nav {
  background-color: rgba(31,31,31,0.9);
}
#top-nav li:hover a { color:#FCB713; }
#top-nav ul li.active { background-color: #505050; }
#top-nav ul li.active a:hover { color: #fff; }

/* =Forms
 * ------------------------------------------------------------------------------------*/
.button {
  border:none;
  display:inline-block;
  padding:15px 20px 13px;
  font-size:2.8em;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
  text-align:center;
  line-height:1em;
  margin-bottom:3em;
  background: #FCB713;
  color: #1f1f1f;
  -webkit-transition: background  100ms ease-out;
  -moz-transition: background 100ms ease-out;
  -ms-transition: background 100ms ease-out;
  -o-transition: background 100ms ease-out;
  transition: background 100ms ease-out;
}
.button:hover {
  background:#ddb410;
  text-decoration: none;
}
.button.dark {
  background:#FCB713;
  color:#ffffff;
}
.button.dark:hover {
  background:#FCB713;
}

/* =Sections
 * ------------------------------------------------------------------------------------*/
section.page-section {
  padding:90px 0 50px;
  min-height:100%;
}

section.banner-section {
  padding:90px 0 10px;
  min-height:100%;
  background-color:#1f1f1f;
	  background-image: url(../img/banner_v3.png);
	  background-repeat:no-repeat;
	  background-size: cover;
  
}

section.vision-section {
  padding:90px 0 10px;
  min-height:100%;
  background-color:#FCB713;
  
}

	
	
section#home {
  color:#ffffff;
  background-color: #1f1f1f;
  position: relative;
}
.slabtextdone .slabtext, .slabtextinactive { text-align: center; 
}

section#about {
  background-color:#ffffff;
  color:#1f1f1f;
}
section#blog {
  background-color:#FCB713;
  color:#1f1f1f;
}
section#team {
}
section#contact {
  background-color:#FCB713;
}
section#contact h1 {
  padding-bottom: 0.5em;
}
section#home .header h1 {
  color:#FCB713;
}
section#home .header h2 {
  color:#FFFFFF;
}
section#about .header { text-align: center; }
section#customers { padding-top: 0px; }

section#about h1,
section#customers h1 {
  color:#1f1f1f;
  padding-bottom: 0.4em;
}
section#about h2 {
  color:#000;
  padding: 0.6em 0em 0.4em;
}
section#our-works {
  background-color:#2c3e50;
  color:#ffffff;
}
section#our-works h1 {
  color:#FFFFFF;
}
section#our-works h2 {
  color:#FCB713;
}

section#blog h1 {
  color:#FFFFFF;
}
section#blog h2 {
  color:#1f1f1f;
}
section#team {
  background-color: rgb(235, 235, 235);
}

section#team h1 {
  padding-bottom: 0.5em;
}
section#team h2 {
  color:#FCB713;
}
section#team p {
  margin-bottom: 0em;
}

section#advisors {
  background-color: #FFF;
}
section#advisors h1 {
  padding-bottom: 0.4em;
}
section#advisors p {
  margin-bottom: 0em;
}

section#careers h1 {
  margin-bottom: 0.4em;
}

section#contact h1 {
  padding-top: 1em;
  color:#000;
}
section#contact h2 {
  color:#000;
}
section#contact p {
  margin-bottom: 0em;
}
.section-title-padded {
  margin-bottom: 25px !important;
}

/* =Splash
 * ------------------------------------------------------------------------------------*/
.splash-text {
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-size:20em;
  font-weight:150;
}
.next-section {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center
}
.arrow-down {
  background: url(../img/bottom-arrow.png) no-repeat center center;
  margin: 0 auto;
  height: 50px;
  width: 100px;
}


/* =Product
 * ------------------------------------------------------------------------------------*/
.one_third { width:33.3333333%; float:left; }
.one_half { width:50%; float: left; }
.one_fourth { width:25%; float:left; }

.product {
  padding-bottom: 60px;
}
.product img {
  max-width: 100%;
}

/* =Customers
 * ------------------------------------------------------------------------------------*/
.customers p.top { padding-top: 50px; }
.customers img {
  max-height: 60px;
  max-width: 220px;
}
.brand {
  padding-bottom: 35px;
}

/* =Services
 * ------------------------------------------------------------------------------------*/
section#services {
}
section#services .header {
  margin-bottom: 60px;
}
section#services p {
  margin-bottom: 25px;
}
section#services h2 {
  padding-top: 10px;
}
section#services p a {
  border-bottom: 1px dotted #666;
  color: #666;
}
section#services p a:hover {
  border-bottom: 1px dotted #666;
  text-decoration: none;
  color: #666;
}
section#services ul {
  margin-bottom: 25px;
}
ul.services {
  margin-top: 0px;
  padding-left: 0px;
}
ul.services > li {
  list-style-type: none;
  font-size: 22px;
  line-height: 45px;
  color: #666;
}
ul.services > li.active a {
  color: #000;
}
ul.services > li.active a:hover {
  text-decoration: none;
}
ul.services > li a {
  color: #666;
}
ul.services > li a:hover {
  color: #000;
  text-decoration: none;
}
.services-content {
  padding-top: 10px;
}

/* =Team
 * ------------------------------------------------------------------------------------*/
.bio-block {
  margin-bottom:90px;
}
.bio-name {
  margin-bottom:10px;
}
.bio-name span {
  color: #000
}
.bio-name h4 {
  margin-bottom:0em;
}
.bio-name span {
  font-size:2em;
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
}
.bio-member {
  position:relative;
  margin-bottom:4em;
  -webkit-transition: margin-bottom 300ms linear;
  -moz-transition: margin-bottom 300ms linear;
  -ms-transition: margin-bottom 300ms linear;
  -o-transition: margin-bottom 300ms linear;
  transition: margin-bottom 300ms linear;
}
.bio-image {
  position:relative;
  width:100%;
  height:300px;
  overflow:hidden;
}
.bio-image img {
  width:100%;
  height:auto;
  opacity:0.4;
  -webkit-transition: visibility 0s 300ms, opacity 300ms linear;
  -moz-transition: visibility 0s 300ms, opacity 300ms linear;
  -ms-transition: visibility 0s 300ms, opacity 300ms linear;
  -o-transition: visibility 0s 300ms, opacity 300ms linear;
  transition: visibility 0s 300ms, opacity 300ms linear;
}
.bio-member:hover .bio-image img {
  opacity:1;
  visibility:visible;
}
.bio-info p {
  color:#000;
  font-size: 1.6em;
  line-height: 1.65em;
}
.bio-info a {
  text-decoration: none;
  color: #000;
}
.bio-info a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
}
.bio-social {
  padding: 10px 0px 0px 1px;
  display: block;
}
.bio-social a { color: black; }
.bio-social a:hover { color: #FCB713; }

/* =Contact
 * ------------------------------------------------------------------------------------*/
#contact {
  padding-top:0px;
}
#contact .input-field {
  display:block;
  background:#FFF;
  margin-bottom:20px;
  position:relative;
  height:56px;
}
#contact .input-field input {
  color:#727272;
  font-size:2em;
  background:#FFF;
  border:0;
  font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
  outline:none;
  display:block;
  position:absolute;
  left:10px;
  top:10px;
  bottom:10px;
  right:66px;
  width: 85%;
}
#contact .input-field .right-block {
  display:block;
  float:right;
  background:#FCB713;
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  width:56px;
}
#contact .textarea-field {
  position:relative;
  width:100%;
  height:208px;
  background:#FFF;
  display:block;
}
#contact textarea {
  border:0;
  background:#FFF;
  position:absolute;
  left:10px;
  right:10px;
  top:10px;
  bottom:10px;
  outline:none;
  font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size:2em;
  color: #727272;
  width: 95%;
}
.ajax-message {
  margin-bottom:20px;
  display:none;
}
.ajax-message p {
  margin:15px;
  padding-bottom: 0.8em;
}
.ajax-message.error {
  background:#CC270A;
  color:#fff;
}
.ajax-message.success {
  background:#000;
  color:#fff;
}

/* =Careers
 * ------------------------------------------------------------------------------------*/

#careers .header p {
  margin-bottom: 0em;
}
.posting {
  cursor: pointer;
  padding: 25px 10px;
  margin-bottom: 20px;
}
.posting:hover {
  background: #FCB713;
}
.posting span {
  color: #000
}
.posting h4 {
  margin-bottom:0em;
}
.posting span {
  font-size:2em;
  font-family:'Pathway Gothic One', Arial, Helvetica, sans-serif;
}

/* =Footer
 * ------------------------------------------------------------------------------------*/
footer {
  background: #000;
  color: #FFF;
  height: 55px;
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 3em;
}

.social-icon {
  color: #fff;
  cursor: pointer;
  float: right;
  padding-left: 14px;
}
.social-icon:hover {
  color: #FCB713;
}

/* =Responsive
 * ------------------------------------------------------------------------------------*/

/* Tablet Portrait width to 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #top-nav, #float-nav { display:none; }
  #mobile-nav-container, #mobile-nav { display: block; }
  #mobile-nav-icon { display:block; }
  #top-nav ul li.logo { width:120px; }
  .splash-text { font-size:5em; }
}

/* All Mobile Widths */
@media only screen and (max-width: 767px) {
  .one_third { width:100%; float:left; }
  .one_half { width:100%; float: left; }
  .one_fourth { width:100%; float:left; }
  #top-nav, #float-nav { display:none; }
  #mobile-nav-container, #mobile-nav { display: block; }
  #mobile-nav-icon { display:block; }
  #top-nav ul li.logo { width:80px; }
  .header { margin-bottom:4em!important; }
  h1, h2 { text-align:center; }
  .portfolio-item:hover .tags-tooltip { bottom:10px; }
  h1, .section-title { font-size:5em; margin-top:0; margin-bottom:0.5em; }
  h2 { font-size:3.5em; margin-top:0; margin-bottom:0.7em; }
  h3 { font-size:3em; margin-top:0; margin-bottom:01em; }
  h4 { font-size:2.7em; margin-top:0; margin-bottom:0.5em; }
  h5 { font-size:2.1em; margin-top:0; margin-bottom:0; }
  h6 { font-size:1.8em; margin-top:0; margin-bottom:0.3em; }
  .tag { font-size: 1em; }
  .header { margin-bottom:90px; }
  .header h1, .header h2 { text-align:center; line-height:0.92; }
  p {
    font-size:1.6em;
    line-height:1.65em;
    margin:0 0 3em;
    font-weight:300;
	text-align: left;
	line-height: 150%;
	text-align: justify;
	text-justify:inter-ideograph;
  }
  ul.capabilities li {
    font-size:1.6em;
    line-height:1.65em;
  }
  .splash-text { font-size:4em; }
  .button { margin-top: 0.5em; }
  #contact .input-field .right-block { display: none; }
  #contact #contact-map-canvas { display:none; }
  #contact { padding-top:50px; }
  section.page-section { padding:110px 0 0; }
  .accent-box { font-size: 1.6em; }
  ul.services > li > a { font-size: 16px; }
  ul.services > li { line-height: 24px; }
  #contact textarea { font-size: 1.6em; }
  #contact .input-field input { font-size: 1.6em; }
  section#services ul > li { font-size: 1.6em; }
}

/* Mobile Landscape Width to Tablet Portrait Width */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #top-nav, #float-nav { display:none; }
  #mobile-nav-container, #mobile-nav { display: block; }
  #mobile-nav-icon { display:block; }
  #top-nav ul li.logo { width:100px; }
  .portfolio-item:hover .tags-tooltip { bottom:10px; }
  .splash-text { font-size:4.5em; }
}

@media only screen and (max-width: 480px) {
  .next-section { bottom: 10px; }
  .arrow-down { background-size: 40% auto; }
  #contact .input-field input { width: 260px; }
  .customers img { max-height: 36px; max-width: 132px; }
  .brand { padding-top: 13px; padding-bottom: 13px; }
}

/*
==============================================
fadeIn
==============================================
*/
.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

/*
==============================================
pullUp
==============================================
*/
.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}